@import url(http://weloveiconfonts.com/api/?family=zocial);
body {

}

p {
	font-size: 1.2em;
	font-weight: 100;
	line-height: normal;
}

article {
	width: 50em;
	/*margin: auto auto;*/
}

h1 {

}

img, figure {
	max-width: 100%;

}
span {
	font-size: 1.5em;
	margin-bottom:0;
}

footer {
	margin: 10vh 0;
	/*text-align: center;*/

}
hr.divide {
	border-top: 1px dashed #8c8b8b;
}
hr.divide:after {
	content: '\002702'; 
    display: inline; 
    position: relative; 
    top: -12px; 
    left: 40px; 
    
	padding: 0 3px; 
    
	background: #f0f0f0; 
    
	color: #8c8b8b; 
    
	font-size: 18px; 
}

[class*='zocial-']:before {
	display: inline-block;
	font-family: "zocial", sans-serif;
	width: 10vw;
	text-shadow: 3px 3px 3px #666;
	margin-right: 5vh;
}

li {
	font-size: 2em;
	list-style: none;
}