@import url(http://fonts.googleapis.com/css?family=Cookie|Cutive+Mono);

[class*="zocial-"]:before {
  color: black;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  text-shadow: 3px 3px 3px #aaa;
  width: 2em;
}

a:hover [class*="zocial-"]:before {
  color: #3d85c6;
}

div#social a {
  margin: 0 1em 0 0;
}

div#social a:last-of-type {
  margin: 0;
}
title {
}
article {
  margin: 0 auto;
  max-width: 50em;
  border-bottom: 1px solid #ddd;
}

body {
  font-family: 'Cutive Mono', sans-serif;
  margin: 2em;
}

div#social {
  line-height: 2em;
}

figcaption {
  text-align: center;
  font-family: 'Cookie', cursive, sans-serif;
  font-size: 1.5em;
  color: #BF7D80;
  padding: .5em 0 1em 0;
}

figure {
  margin: 1em 0 1em 0;
}

footer {
  margin: 0 auto;
  width: 800px;
}

header {
  margin: 0 auto;
  width: 800px;
}

h1 {
  text-transform: uppercase;
  margin: 0 auto 1em auto;
  width: 800px;
}
h2 {
  font-size: 2em;
  padding: .5em 0 1em 0;
  margin: 0;
  text-align: left;
}
img {
  max-width: 100%;
}

svg#logo {
  fill: #666;
  height: 6vw;
  margin: 0 auto 0.5em auto;
  width: 6vw;
}

header:hover svg#logo {
  fill: #3d85c6;
  -webkit-filter: drop-shadow(3px 3px 3px #ddd);
  filter: drop-shadow(3px 3px 3px #ddd);
}
