# Standard ignores
*.pyc
*.pyo
*.DS_Store
*.swp
*.idea
*.project
*.pydevproject
*.kpf
*.db
venv
node_modules
Project-Part-1-Start
../Project-Part-1-Start/
 ../responsive_grunt_pratice
# Don't store secret keys in version control
secret_keys.py